html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    width: 100%;
    padding: 0;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

header {
    background-color: green;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

nav {
    display: flex;
    gap: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.nav-item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > div > a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    transition: all 0.4s ease-in-out;
}

nav a:hover {
    color: green;
    background-color: white;
}

.name {
    display: none;
}

main {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec {
    background-color: rgb(47, 47, 47);
    width: 80%;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px 0;
    transition: all 0.2s ease-in-out;
}

.sec:hover {
    transform: scale(1.05);
}

.sec-proj:hover {
    transform: scale(1.015);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#about-me, #cv, #it, #projects, #interests, #contact {
    scroll-margin-top: 80px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cv > p, #it > p, #interests > p {
    text-align: justify;
}

.photo, .personal-data {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects {
    width: 90%;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 5px solid #4d4d4d;
    gap: 20px;
}

.project-photo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    width: 69%;
}

.project:last-child {
    border-bottom: none;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head > a, .icons > a {
    font-size: 30px;
    transition: all 0.2s ease-in-out;
}

.head > a:hover, .icons > a:hover {
    color: green;
}

#contact > p {
    text-align: center;
}

footer {
    background-color: green;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}



@media screen and (max-width: 900px) {
    .name {
        display: inline;
    }

    nav {
        display: none;
    }

    .sec {
        width: 90%;
        padding: 20px;
    }

    #about-me, #cv, #it, #projects, #interests, #contact {
        width: 95%;
    }

    #about-me > .container {
        flex-direction: column;
    }

    .photo, .personal-data {
        width: 90%;
    }

    .personal-data {
        text-align: left;
        align-items: self-start;
    }

    .photo > img {
        width: 100%;
    }

    #it > img {
        width: 100%;
    }

    #it > #stack2 {
        width: 85%;
    }

    #it > #stack3 {
        width: 50%;
    }

    #it > #stack4 {
        width: 70%;
    }

    #it > #stack5 {
        width: 110%;
    }

    .project {
        flex-direction: column;
        margin-top: 20px;
    }

    .project-photo {
        width: 80%;
    }

    .description {
        width: 100%;
    }

    .description > p {
        text-align: justify;
    }
}